name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Racket
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: current

      - name: Install package
        run: raco pkg install --auto --no-docs

      - name: Run tests
        run: raco test tests/
